@import url('https://fonts.googleapis.com/css?family=Montserrat:500,800');

.header {
  display: block;
  overflow: auto;
  width: 100%;
  background: #00695c;
  background: -moz-linear-gradient(-45deg, #00695c 1%, #009688 100%);
  background: -webkit-linear-gradient(-45deg, #00695c 1%,#009688 100%);
  background: linear-gradient(135deg, #00695c 1%,#009688 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00695c', endColorstr='#009688',GradientType=1 );
}

.header img {
  width: 100%;
  max-width: 700px;
  height: auto;
  display: block;
  margin: 50px auto;
  padding: 0;
}

.header a {
  color: #ffffff;
  font-weight: 800;
  display: block;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 15px;
}

.intro {
  padding: 80px 20px;
  display: block;
  text-align: center;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 50px;
  line-height: 50px;
  color: #009688;
  margin: 0 auto 20px;
  max-width: 640px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #009688;
  margin: 0 auto 20px;
  max-width: 640px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  margin: 0 auto 20px;
  max-width: 640px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #121212;
  margin: 0 auto 20px;
  max-width: 640px;
}

p.address {
  font-size: 14px;
  line-height: 20px;
}

a {
  text-decoration: none;
  color: #009688;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.services {
  padding: 80px 20px;
  display: block;
  text-align: center;
  background-color: #efefef;
}

.container {
  display: block;
  overflow: hidden;
}

.row {
  display: block;
  overflow: hidden;
  clear: both;
}

.service {
  display: block;
  float: left;
  width: 25%;
  width: calc(33.33% - 40px);
  margin: 20px;
}

.name {
  display: block;
  width: 100%;
  color: #009688;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  margin: 0 0 10px 0;
}

.description {
  display: block;
  width: 100%;
  color: #121212;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  margin: 0 0 10px 0;
}

.contact {
  display: block;
  overflow: auto;
  padding: 50px 20px;
  width: 100%;
  background: #00695c;
  background: -moz-linear-gradient(-45deg, #00695c 1%, #009688 100%);
  background: -webkit-linear-gradient(-45deg, #00695c 1%,#009688 100%);
  background: linear-gradient(135deg, #00695c 1%,#009688 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00695c', endColorstr='#009688',GradientType=1 );
  text-align: center;
}

.contact p {
  color: #ffffff;
}

.contact a {
  color: #ffffff;
  font-weight: 800;
  display: block;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 15px;
}

 .footer {
  text-align: center;
  background-color: #121212;
  color: #ffffff;
  padding: 20px;
}

.footer p {
  color: #ffffff;
  font-size: 14px;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .service {
    display: block;
    float: left;
    width: 25%;
    width: calc(100% - 40px);
    margin: 20px;
  }
}
